body {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100vh;
    background: var(--blue);
    color: var(--white);
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    background: var(--black);
    padding: 60px!important;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
    opacity: 0.8;
}
a {
    color: var(--blue)!important;
    text-decoration: none!important;
    font-weight: bold;
    margin-top: 10px!important;
}
a:hover {
    text-decoration: underline;
}