*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
:root{
    --white: #fff;
    --blue: #00e0ff;
    --black: #111;
    --background-black: #000;
}
body{
    width: 100%;

    background-color: var(--black);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: scroll;
}
body a{
    text-decoration: none;
    color: var(--white);
    transition: 0.3s ease-in-out;
}
.tecnologia{
    margin-top: 20px;
}